.change-password-box {
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  padding-top: 12px;
  padding-bottom: 22px;
  height: 120vh;
}

.change-text {
  text-align: center;
  padding-top: 30px;
  margin-bottom: 20px;
}

.info-text {
  text-align: center;
  margin-bottom: 30px;
}

.btn-change-pass {
  border: none;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  font-weight: bold;
  /* padding-left: 30px; */
}

.btn-change-acctive:active {
  background: #6379f4;
  color: #fff;
}

@media (min-width: 768px) {
  .change-text {
    text-align: left;
  }
  .info-text {
    width: 50%;
    text-align: left;
  }
  .bi-position {
    top: -43px;
  }
  .logo {
    top: 42px;
  }
}

@media (min-width: 1024px) {
  .bi-position {
    top: 17px;
    right: 0;
  }
  .logo {
    top: 47px;
  }
  .btn-change-pass {
    margin-top: 45px;
  }
}

@media (min-width: 1280px) {
  .bi-position {
    top: 40px;
    right: 100px;
  }
  .logo {
    top: 67px;
  }
  .btn-change-pass {
    margin-top: 90px;
    width: 50%;
    margin-left: 20%;
  }
}
