.transfer-box {
  background: #fff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  padding-top: 12px;
  padding-bottom: 130vh;
}

.transfer-text {
  position: relative;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;

  color: #3a3d42;

  top: 23px;
}

.box {
  position: relative;
  background: #ffffff;
  height: 80px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 5px;

  cursor: pointer;

  top: 13px;
  /* height: 10%; */
}

.wrapper-user {
  position: relative;
  height: 56px;
  width: 56px;
  background-blend-mode: normal;
  margin-top: 28px;
  top: 12px;
  left: 12px;
}

.name-text {
  position: relative;

  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;

  width: 223px;
  color: #4d4b57;

  left: 63px;
  bottom: 58px;
}

.phone-text {
  position: relative;

  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;

  width: 123px;
  color: #7a7886;

  left: 63px;
  bottom: 68px;
}

.details-text {
  position: relative;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  /* identical to box height */

  /* Zwallet/Dark */

  color: #3a3d42;
  top: 63px;
}

.box-detail {
  position: relative;
  background: #ffffff;
  height: 90px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 10px;

  cursor: pointer;

  top: 83px;
  padding: 10px;
  margin-bottom: 23px;
}

.button {
  position: absolute;
  bottom: 12px;
  right: 23px;
}

.input-pin {
  position: relative;
  height: 45px;
  width: 43px;
  background: #ffffff;

  border: 1px solid rgba(169, 169, 169, 0.6);
  box-sizing: border-box;
  box-shadow: 0px 10px 75px rgba(147, 147, 147, 0.1);
  border-radius: 10px;

  text-align: center;
  right: 13px;
}

@media (min-width: 1280px) {
  .transfer-box {
    padding-bottom: 110vh;
  }
}

@media (min-width: 2560px) {
  .transfer-box {
    padding-bottom: 60vh;
  }
}
