.history-box{
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    padding-top: 12px;
}

.transaction-text{
    position: relative;
    top: 15px;
}

.forms-select{
    position: relative;
    background: rgba(58, 61, 66, 0.1);
    border-radius: 12px;
    margin-top: 15px;
    margin-bottom: 12px;

    text-align: center;
}

.photo-users{
    position: relative;
    height: 56px;
    width: 56px;
    background-blend-mode: normal;
    margin-top: 28px;
}

.name-text{
    position: relative;

    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;

    color: #4D4B57;

    left: 63px;
    bottom: 58px;
}
.status-text{
    position: relative;

    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;

    color: #7A7886;

    left: 63px;
    bottom: 68px;
}

.payment-text{
    position: relative;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;

    top: 18px;
    margin-bottom: 62px;
}