.balance-box {
  background: #6379f4;

  border-radius: 20px;
}

.balance-text {
  position: relative;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 31px;

  color: #e0e0e0;
  text-align: center;

  top: 15px;
}

.money-text {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 55px;

  text-align: center;

  color: #ffffff;
}

.phone-text {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-align: center;

  color: #dfdcdc;
}

.btn-payment {
  position: relative;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  width: 100%;
  height: 37px;

  background: rgba(255, 255, 255, 0.2);

  color: #ffffff;
  text-align: center;

  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 10px;

  margin-bottom: 12px;
}

.btn-text-position {
  position: relative;
  left: 12px;
}

/* financial */
.finance-box {
  position: relative;
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  /* padding-bottom: 12px; */
  top: 20px;
  margin-bottom: 23px;
  height: 95%;

  border-radius: 20px;
}
.bi-arrow-down {
  font-weight: bold;
  font-size: 28px;
  color: #1ec15f;
}
.bi-arrow-up {
  font-weight: bold;
  font-size: 28px;
  color: #ff5b37;
}
.financial-text {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;

  color: #6a6a6a;
}
.financial-money-text {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  /* line-height: 25px; */

  color: #3a3d42;
}

/* chart/graph */
.data-update {
  height: 223px;
  width: 14px;
  /* height: 3px; */

  background: #6379f4;
  border-radius: 15px;
}
.day-text {
  position: relative;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;

  color: #8f8f8f;
  bottom: 3px;
  padding-top: 12px;
}

.range-data {
  position: relative;
  margin-right: -16px;
  right: 10px;
}

/* transaction history */
.transaction-history-box {
  position: relative;
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  /* padding-bottom: 12px; */
  top: 20px;
  margin-bottom: 23px;
  padding-bottom: 34px;

  border-radius: 20px;

  height: 95%;
}
.transaction-history-text {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;

  color: #3a3d42;
}
.see-all-text {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;

  color: #6379f4;
  cursor: pointer;
}
.name-text {
  position: relative;

  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  width: 183px;
  /* identical to box height */

  color: #4d4b57;

  left: 63px;
  bottom: 58px;
}
.status-text {
  position: relative;

  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;

  color: #7a7886;

  width: 183px;

  left: 63px;
  bottom: 68px;
}
.photo-users {
  position: relative;
  height: 56px;
  width: 56px;
  background-blend-mode: normal;
  margin-top: 28px;
}
.transaction-payment {
  position: relative;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 12px;
  width: 112px;

  display: inline-block;

  /* top: 32px; */
  top: 72px;
  right: 50px;
  /* right: 20px; */
  margin-bottom: 62px;
}

/* tablet */
@media (min-width: 768px) {
  .balance-text {
    text-align: left;
  }
  .money-text {
    text-align: left;
  }
  .phone-text {
    text-align: left;
  }
  .btn-payment {
    width: 162px;
    height: 57px;
    top: 13px;
    left: 23px;
  }
  .bi {
    position: relative;
    right: 10px;
  }
  .range-data {
    margin-right: -20px;
  }
  .transaction-payment {
    /* top: 42px; */
    /* right: 25px; */
    margin-bottom: 68px;
  }
}

/* laptop S */
@media (min-width: 1024px) {
  .btn-payment {
    left: 123px;
  }
  .transaction-payment {
    top: 22px;
    right: 23px;
  }
}

/* laptop M */
@media (min-width: 1200px) {
  .btn-payment {
    width: 262px;
    height: 57px;
    left: 93px;
  }
}

/* laptop L */
@media (min-width: 1440px) {
  .btn-payment {
    width: 262px;
    height: 57px;
    left: 153px;
  }
}
