/* tablet */
@media(min-width:768px){
    .start-access-text{
        top: 103px;
    }
    .description-text{
        top: 103px;
    }
    .input-auth{
        top: 103px;
    }
    .btn-auth{
        top: 143px;
    }
    .logo{
        top: 147px;
    }
}

/* laptop S */
@media(min-width:1024px){
    .start-access-text{
        top: 133px;
    }
    .description-text{
        top: 133px;
    }
    .input-auth{
        top: 133px;
    }
    .btn-auth{
        top: 163px;
    }
    .logo{
        top: 177px;
    }
}

/* 4K */
@media(min-width:2560px){
    .btn-auth{
        top: 233px;
    }
}
